<div class="page-container">
  <!-- Задания секция -->
  <section class="content-section main-content">
    <h2>Задания</h2>
    <p class="description">Тут будет информация о заданиях</p>
    <div class="image-container">
      <div class="image-placeholder">
        <span>Тут будет фотография</span>
      </div>
      <div class="image-placeholder">
        <span>Тут будет фотография</span>
      </div>
    </div>
  </section>

  <!-- Форма альфа-теста -->
  <app-alphatestform></app-alphatestform>
</div>
